.button {
    height: 46px;
    border-radius: 23px;
    border: 1px solid #fff;
    padding: 0 40px;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.error_network {
    height: 46px;
    border-radius: 23px;
    padding: 0 40px;
    background-color: rgb(255, 67, 67);
    line-height: 46px;
}