.layout {
  height: 100%;

  .header {
    height: 160px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: inline-block;
      height: 160px;
      width: 160px;
    }

    .right {
      flex: 1;
      align-self: flex-start;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 130px;
      border-bottom: #383838 solid 1px;
      margin: 0 68px 0 28px;

      .menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .item {
          color: #EBF524;
          font-size: 20px;
          list-style: none;
          display: inline-block;
          margin-right: 40px;
          line-height: 24px;
          cursor: pointer;
          font-weight: 400;

          span {
            display: inline-block;
            margin-bottom: 9px;
          }

          .indicator {
            margin: 0 auto;
            width: 29px;
            height: 4px;
            background: #EBF524;
            border-radius: 8px;
            opacity: 0;
            transition: opacity 0.2s linear;
          }

          .indicator_select {
            opacity: 1;
          }
        }
      }

      .urls {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        img {
          display: inline-block;
          margin-right: 26px;
          cursor: pointer;
          opacity: .8;

          transition: opacity 0.2s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }

        .twitterIcon {
          width: 48px;
          height: 48px;
        }

        .openseaIcon {
          width: 38px;
          height: 38px;
        }
      }
    }
  }

  .wrap_page {
    height: 100%;
    position: relative;

    .gates_one {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: aquamarine;
      transform-origin: center 650px;

      .gates_one_door {
        position: absolute;
        top: 400px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;

        .gates_one_door_left {
          width: 150px;
          height: 300px;
          background-color: brown;
        }

        .gates_one_door_right {
          width: 150px;
          height: 300px;
          background-color: blueviolet;
        }
      }

      .gates_one_line {
        height: 100%;
        width: 2px;
        background-color: red;
      }

      button {
        position: absolute;
        bottom: 100px;
        width: 125px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}