.layout {
  height: 100%;
  position: relative;

  .enter_page_left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #42428c;
    z-index: 10000;
    width: 50%;
  }

  .enter_page_right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #42428c;
    z-index: 10000;
    width: 50%;
  }

  .enter_button {
    position: absolute;
    z-index: 10001;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    width: 100px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    color: #fff
  }

  .wrap_page {
    height: 100%;

    .header {
      padding: 35px;
      background-color: #404040;
      color: #fff;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        span {
          font-size: 24px;
          display: inline-block;
          margin-right: 15px;
        }

        .menu {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          .item {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            list-style: none;
            display: inline-block;
            margin-left: 15px;
            cursor: pointer;
            transition: color 0.1s ease-in-out;

            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }

      .right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .urls {

          img {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            opacity: .8;

            transition: opacity 0.2s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }

          .twitterIcon {
            width: 48px;
            height: 48px;
          }

          .openseaIcon {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
  }
}